In [3]:
import pandas as pd

df = pd.DataFrame({'vals': [1, 2, 3, 4], 'ids': ['a', 'b', 'f', 'n'],
   'ids2': ['a', 'n', 'c', 'n']})
df

   vals ids ids2
0     1   a    a
1     2   b    n
2     3   f    c
3     4   n    n

In [4]:
values = {'ids': ['a', 'b'], 'vals': [1, 3]}
df.isin(values)

    vals    ids   ids2
0   True   True  False
1  False   True  False
2   True  False  False
3  False  False  False

In [5]:
values = {'ids': ['a', 'b'], 'ids2': ['a', 'c'], 'vals': [1, 3]}
row_mask = df.isin(values).all(1)
df[row_mask]

   vals ids ids2
0     1   a    a

In [10]:
arrays = [
    ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
    ["one", "two", "one", "two", "one", "two", "one", "two"],
   ]
print("*arrays: {}".format(*arrays))
print("zip(*arrays)):{}".format(zip(*arrays)))
print("list1: {}".format(list(zip(*arrays))))
print("list1: {}".format(list(zip(arrays[0], arrays[1]))))

*arrays: ['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux']
zip(*arrays)):<zip object at 0x7f21fe4f1000>
list1: [('bar', 'one'), ('bar', 'two'), ('baz', 'one'), ('baz', 'two'), ('foo', 'one'), ('foo', 'two'), ('qux', 'one'), ('qux', 'two')]
list1: [('bar', 'one'), ('bar', 'two'), ('baz', 'one'), ('baz', 'two'), ('foo', 'one'), ('foo', 'two'), ('qux', 'one'), ('qux', 'two')]